<div id="carouselExampleIndicators" class="carousel slide ec-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 ec-carousel-img" src="assets/category_img_11.jpg" alt="First slide">
        <div class="carousel-caption ec-carousel-caption d-none d-md-block">
          <h5 class="ec-carousel-title">Titulo de prueba</h5>
          <p class="ec-carousel-description">Descripcion de prueba</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 ec-carousel-img" src="assets/category_img_04.jpg" alt="Second slide">
        <div class="carousel-caption ec-carousel-caption d-none d-md-block">
          <h5 class="ec-carousel-title">Titulo de prueba</h5>
          <p class="ec-carousel-description">Descripcion de prueba</p>
        </div>
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100 ec-carousel-img" src="assets/category_img_12.jpg" alt="Third slide">
        <div class="carousel-caption ec-carousel-caption d-none d-md-block">
          <h5 class="ec-carousel-title">Titulo de prueba</h5>
          <p class="ec-carousel-description">Descripcion de prueba</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!--
<div class="carousel-item">
    <img src="assets/category_img_02.jpg" alt="categoria2">
    <div class="carousel-caption d-none d-md-block">
      <h5>TEST</h5>
      <p>tSEt</p>
    </div>
  </div>-->