.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    float: left;
}

.carousel-control-next /*, .carousel-indicators */ {
    filter: invert(100%);
}

/* .carousel-indicators {
    filter: invert(100%);
} */

.ec-carousel-title{
    color: white;
}

.ec-carousel-description{
    color: white;
}

.ec-carousel-img{
    max-width: 100% !important;
    max-height: 100% !important;
    height: auto !important;
    width: auto !important; /* ie8 */
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
    min-height: 360px !important;
    min-width: 640px !important;
}

.ec-carousel-caption{
    float: left;
    background: rgba(230,230,230,0.3);
}

@media (max-width: 720px){
        .ec-carousel-img{
        min-width: 360px !important;
        }
}

@media (min-width: 721px){
        .ec-carousel{
            margin-top: 45px;
            margin-bottom: 45px;
        }
}
