<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-topnavbar></app-topnavbar>
<app-carousel></app-carousel>
<app-sticky-button></app-sticky-button>
<!-- <div *ngFor="let articulo of articulos">
<div> {{articulo.nombre}}</div>

</div> -->